/*
CSS responsavel pelo comportamento do index.html
*/

/* Gradiente do Body */
body{ background-color: #fff }

/* Divisao Cabeçalho (Header) */
#header
{
    max-width: 852px;
    margin: 0 auto;    
}

.header-logo img
{
  float: left; 
  margin-left: -120px;
  max-width: 176px;
  max-height: 200px;
}

.header-menu 
{
  display: table;
  float: right;
}

.header-menu ul 
{
  padding: 20px;
  margin-right: -160px;
}

.header-menu ul li 
{
  display: inline-block;
  
    color: #ca1036;
}

.header-menu ul li a 
{
    text-decoration: none;
    font-family: 'Pristina';
    color: #CA2641;
    font-size: 24pt;
    margin: 0 30px;
}

.header-menu ul li a :hover
{
    color: #FFFF00;
}

/* Nav*/
#nav
{
    width: 1630px;
    height: 500px;
}

#nav #nav-grande img
{
    float: none;
    width: 1630px;
    height: 500px;
    margin-left: -55px;
}

#itens
{
    margin: 200px 207px;
    position: absolute;
    max-width: 1200px;
}

#itens .nav-pequeno 
{
    border: 1px solid chartreuse;
    float: left;
    margin: 50px 50px;
}

#itens .nav-pequeno img
{
    width: 185px;
    padding: 49px;
    height: 185px;
}

#azul
{
    color: #1376CA;
}

#itens #laranja .nav-pequeno
{
    color: #CA4F13;
}






